<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            
                        <div class="card">
                <div class="card-header">
                    <div class="row">
                        
                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>

                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Due Date</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Assigned User</th>
                            </tr>
                            
                            <%if(data.length > 0)
                            {
                                data.forEach(function(d){
                            %>
                            <tr>
                                
                                <td> <%= d.issue_id %> </td>
                                <td> <%= d.title %> </td>
                                <td> <%= d.issue_description %> </td>
                                <td> <%= d.due_date %> </td>
                                <td> <%= d.priority %> </td>
                                <td> <%= d.issue_status %> </td>
                                <td> <%= d.issue_type %> </td>
                                <td> <%= d.assigned_user_id %> </td>

                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>


            <div style="margin-top: 30px";></div>

            <form action="assign_task">
                <p>Give the id of the task you want to assign: </p>
                <input type="number" name="t_id" id="t_id" placeholder="1" required>
                <p>Give the id of the user you want to assign the task to</p> 
                <input type="number" name="u_id" id="u_id" placeholder="1" required>
                
                <br>
                <br>

                <input type="number" name="p_id" id="p_id" placeholder="1" required>
                <input type="number" name="s_id" id="s_id" placeholder="1" required>
                <input type="number" name="b_id" id="b_id" placeholder="1" required>
                <input type="number" name="l_id" id="l_id" placeholder="1" required>
                <button type="submit">Click</button>
            </form>
        </div> 

        
    </body>
</html>