<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            
                        <div class="card">
                <div class="card-header">
                    <div class="row">
                        
                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Project Name</th>
                                <th>Project Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                            </tr>
                            
                            <%if(data.length > 0)
                            {
                                data.forEach(function(d){
                            %>
                            <tr>
                                
                                <td> <%= d.proj_name %> </a></td>
                                <td><%= d.proj_description %></td>
                                <td><%= d.start_date %></td>
                                <td><%= d.end_date %></td>
                                <td><%= d.proj_status %></td>
                                    
                                </td>
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>

       

        </div> 

        
    </body>
</html>